---
import Social from '../components/Social.astro';
const platform = "github";
const username = "dan1294x";

const socialLinks = [
  { platform: "GitHub", username: "dan1294x" },
  { platform: "Twitter", username: "dan1294x" },
  { platform: "LinkedIn", username: "dan1294x" }
];
---
<style>
    footer {
        text-align: center;
        padding: 1rem;
        background-color: #f8f9fa;
        border-top: 1px solid #dee2e6;
        width: 100%;
        font-size: 1.2rem;
        color: #343a40;
        margin-top: 2rem;
    }

    footer a {
        color: #007bff;
        text-decoration: none;
    }
    footer a:hover {
        text-decoration: underline;
    }
    li {
        display: inline;
        margin-right: 0.5rem;
        list-style: none;
    }
    li a {
        color: inherit;
        text-decoration: none;
    }
    li a:hover {
        text-decoration: underline;
    }
</style>

<footer>
  <p>Learn more about my projects on:
    <ul>
        {socialLinks.map(link => (
            <li>
                <Social platform={link.platform} username={link.username} />
            </li>
        ))}
    </ul>
</footer>