---
---
<style>
    .navigation {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 1rem;
    }
    .navigation li {
        margin: 0;
    }
    .navigation a {
        text-decoration: none;
        color: inherit;
        font-weight: bold;
    }
    .navigation a:hover {
        text-decoration: underline;
    }
</style>

<ul class="navigation">
    <li><a href="/">Home</a></li>
    <li><a href="/about/">About</a></li>
    <li><a href="/blog/">Blog</a></li>
</ul>